* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0)50%, rgba(0, 0, 0, 0)50%), url(/pic/pic2.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: orangered;
    font-size: 35px;
    font-family: 'Chiller';
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 202px;
    margin-top: 37px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: orange;
}

.footer {
    bottom: 0;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 106%;
    background-color: #ff7200;
}

.contact-section {
    display: flex;
    justify-content: center;
    padding: 100px 400px;
    gap: 80px;
}

.contact-left {
    flex: 1;
}

.contact-left h1 span {
    font-size: 36px;
    color: antiquewhite;
    background-color: chocolate;
    padding: 5px 60px;
    display: inline-block;
    border-radius: 5px;
}

.contact-left h3 {
    margin: 20px 0;
    font-size: 20px;
    color: #ccc;
}

.contact-left p {
    font-size: 17px;
    line-height: 1.6;
    color: black;
}

.contact-info p {
    margin: 15px 0;
    color: black;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #ff7200;
    font-size: 20px;
    margin-right: 15px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.contact-right {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input,
form textarea {
    padding: 15px;
    background-color: #222;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

form button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e67e22;
}